@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$roboto-mono-font: "Roboto Mono", monospace;
$base-font: -apple-system, BlinkMacSystemFont, "Arial", "PingFang SC",
  "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
$font: $roboto-mono-font, $base-font;
